@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*linha primaria*/
#section_linha_primaria {
    position: relative;
    top: 202px;
    left: 4.9%;
}

/*barra preta*/
#barra_da_linha_primaria{
    width: 98px;
    height: 4px;
    background-color: black;
}

/*paragrafo*/
#Parte_escrita_sacola_linha_primaria {
    font-weight: 600;
    font-size: 21px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    top: 3px;
}

/*linha*/
#linha_primaria {
    width: 1230px;
}

/*linha secundaria*/

#section_linha_secundaria{
    position: relative;
    top: 185px;
    left: 4.9%;
}

#linha_secundaria {
    width: 1230px;
}
