@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*voce pode gostar*/

/*section*/
#section_voce_pode_gostar {
    position: relative;
    top: 222px;
    left: 22.2%;
}

/*article*/
#article_voce_pode_gostar{
    display: flex;
    column-gap: 80px;
}

#paragrafo_voce_pode_gostar {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 22px;
}

#paragrafo_vistos_recente {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
}

/*barra*/
#barra_do_voce_pode_gostar {
    width: 246px;
    height: 4px;
    background-color: black;
    position: relative;
    left: -0.6%;
    top: 8px;
}