@charset "UTF-8";
@font-face {
    font-family: 'radiant' ;
    src: url(../FONT/OPTIRadiant-Bold.otf);
}

*{
    margin: 0px;
    padding: 0px ;
}

body {
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    left: 0%;
}







/* menu principa */










