<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="/css-pagamento/estado.css">
    <link rel="stylesheet" href="/css-pagamento/pix.css">
    <link rel="stylesheet" href="css-cadastro/rodape_cadastro.css">
    <script src="./pagamento_script/script.js" defer></script>
    <script src="./pagamento_script/script2.js" defer></script>
    <script src="./pagamento_script/validar.js" defer></script>

    <script src="./pagamento_script/script45.js" defer></script>
    <script src="./pagamento_script/qrcode.min.js" defer></script>

    <script src="https://cdn.jsdelivr.net/npm/qrcode@latest/qrcode.min.js"></script>
    <script src="caminho/para/o/arquivo/qrcode.min.js"></script>

    <!--Menu-->
    <link rel="stylesheet" href="../css-bazar/parte_superior_do_desconto-bazar.css">
    <link rel="stylesheet" href="../css-bazar/menu_principal-bazar.css">
    <link rel="stylesheet" href="../css-bazar/menu_retratio.css">
    <!--cell-->
    <link rel="stylesheet" href="../../css-cell/body.css" media="screen and (max-width:750px)">
    <!--parte superior-->
    <link rel="stylesheet" href="../../css-cell/parte_superior.css" media="screen and (max-width:750px)">
    <!--menu-->
    <link rel="stylesheet" href="../../css-cell/menu_principal.css" media="screen and (max-width:750px)">

    <link rel="shortcut icon" href="../../IMG/android-icon-192x192.png" type="image/x-icon">
</head>
<body>
        <!-- parte superior do desconto na primeira compra -->
        <a href="/masculino">
            <section id="section_parte_superior">
                <article>
                    <article id="parte_superior">
                        <p id="parte_superior_texto_1"></p>
                    </article>
                    <!--parte das setas-->
                    <article class="setas_parte_superior">
                        <img class="seta_esquerda_parte_superior" src="IMG/parte superior do desconto na primeira compra REFEITO/seta_esquerda.svg" alt="">
                        <img class="seta_direita_parte_superior" src="IMG/parte superior do desconto na primeira compra REFEITO/seta_direita.svg" alt="">
                    </article>
                </article>
            </section>
        </a>
    
    
        <!--menu principal-->
        <section id="menu_principal_como_todo">
            <!--area do menu que contem os links-->
            <article id="menu_principal">
                <section id="section_menu_principal">
                    <section id="parte_dos_links_do_menu">
                        <a href="/bazar" class="links_do_menu1">BAZAR</a>
                            <a href="/vender" class="links_do_menu2">VENDER</a>
                            <section id="section_menu_retratio">
                                <section id="section_do_menu_retratio_2">
                                    <!--parte das imagens-->
                                    <figure id="figure_imagens_menu_retratio">
                                        <figure id="menu_retratio_imagem1">
                                            <img width="230px" src="../../IMG/menu_retratio/imagem_1.png" alt=""> <figcaption class="parte_escrita_figcaption">
                                                Bazar Nick DJ
                                            </figcaption>
                                        </figure>
                        
                        
                                        <figure id="menu_retratio_imagem2">
                                            <img height="356px" src="/IMG/menu_retratio/imagem2.png" alt=""> <figcaption class="parte_escrita_figcaption">
                                                Moda Passarela
                                            </figcaption>
                                        </figure>
                                    </figure>
                                    <!--parte das listas-->
                                    <article id="article_menu_retratio_lista">
                                        <ul id="menu_retratio_ul1"><p id="menu_retratio_ul1_p">Venda na zip</p>
                                            <li class="menu_retratio_lista1">Saiba como vender</li>
                                            <li class="menu_retratio_lista1">Dicas de como vender bem</li>
                                            <li class="menu_retratio_lista1">Mais sobre comisssão</li>
                                        </ul>
                                        <ul id="menu_retratio_ul2"><p id="menu_retratio_ul2_p">Bazar</p>
                                            <li class="menu_retratio_lista2">Veja como montar o seu</li>
                                            <li class="menu_retratio_lista2">bazar na zip</li>
                                        </ul>
                                        <ul id="menu_retratio_ul3"><p id="menu_retratio_ul3_p">Ajuda</p>
                                            <li class="menu_retratio_lista3">Não recebi minha compra</li>
                                            <li class="menu_retratio_lista3">Tenho dúvidas</li>
                                        </ul>
                                    </article>
                                    <!--parte escrita zip marketplace-->
                                    <article id="parte_escrita_menu_retratio">
                                        <img width="320px" src="IMG/menu_retratio/parte_escrita_refeito.png" alt="">
                                    </article>
                                </section>
                            </section>
                        <a href="/feminino" class="links_do_menu3">FEMININO</a>
                        <a href="/masculino" class="links_do_menu4">MASCULINO</a>
                        <a href="/infantil" class="links_do_menu5">INFANTIL</a>
                        <a href="/acessorios" class="links_do_menu6">ACESSÓRIOS</a>
                    </section>
                </section>
            </article>
            
    
    
            <!--logo zip-->
            <a href="/">
                <figure id="logo_zip_menu">
                    <img id="logo_zip_menu_imagem" src="" alt="">
                </figure>
            </a>
    
            
            
    
    
            <!--imagem da barra de pesquisa e etc-->
            <article id="barra_de_pesquisa_e_etc">
                <figure id="imagem_da_barra_de_pesquisa_e_etc">
    
    
    
                    
    
                    <figure id="imagem_da_barra_de_pesquisa" class="search-container_principal">
                        <article class="search-container_principal">
                            <article class="search-icon_principal" id="searchIcon_principal">
                                <a href="/pesquisa">
                                    <lord-icon
                                        id="icon1_principal"
                                        src="https://cdn.lordicon.com/kkvxgpti.json"
                                        trigger="hover"
                                        style="width:21.5px;height:21.5px;">
                                    </lord-icon>
                                </a>
                    
                            </article>
                        </article>
                    </figure>
    
                    <a href="/wishlist">
                        <figure id="imagem_do_icone_de_favorito">
                            <lord-icon
                                id="lordicon"
                                src="https://cdn.lordicon.com/xyboiuok.json"
                                trigger="hover"
                                style="width:25px; height:25px;">
                            </lord-icon>
                        </figure>
                    </a>
    
                    <a href="/perfil"><figure id="imagem_do_icone_de_pessoa">
                        
    
                        <lord-icon
                        id="pessoa2"
                        src="https://cdn.lordicon.com/kthelypq.json"
                        trigger="hover"
                        style="width:25px;height:25px;">
                        </lord-icon>
                    </figure></a>
                    
                    <a href="/cart">
                        <figure id="imagem_do_icone_da_sacola">
                            <lord-icon
                            id="sacola1"
                            src="https://cdn.lordicon.com/evyuuwna.json"
                            trigger="morph"
                            state="morph-shopping-bag-open"
                            
                            style="width:25px;height:25px;">
                        </lord-icon>
                            
                        </figure>
                    </a>
    
                   
                </figure>
    
                <script src="../../barra_de_pesquisa.js"></script>
    
            </article>
    
            <!--barra de pesquisa e etc responsivo-->
            <section id="barra_de_pesquisa_e_etc_responsivo">
    
                <!--barra de pesquisa-->
                <article class="search-container">
                    <article class="search-icon" id="searchIcon">
                        <a href="/pesquisa">
                            <lord-icon
                                id="icon1"
                                src="https://cdn.lordicon.com/kkvxgpti.json"
                                trigger="hover"
                                style="width:20px;height:20px;display:none;">
                            </lord-icon>
                    
                            <lord-icon
                                id="icon2"
                                src="https://cdn.lordicon.com/kkvxgpti.json"
                                trigger="hover"
                                colors="primary:#ffffff"
                                style="width: 20px;height: 20px;">
                            </lord-icon>
                        </a>
    
                    </article>
                </article>
    
                  
    
                
                <!--icone sacola-->
                <article id="article_icone_sacola_cell">
                    
                        <lord-icon
                            id="icon3"
                            src="https://cdn.lordicon.com/evyuuwna.json"
                            trigger="morph"
                            state="morph-shopping-bag-open"
                            
                            style="width:21px;height:21px;display:none;">
                        </lord-icon>
            
    
                        <lord-icon
                        id="icon4"
                        src="https://cdn.lordicon.com/evyuuwna.json"
                        trigger="morph"
                        state="morph-shopping-bag-open"
                        colors="primary:#ffffff"
                        style="width:21px;height:21px;">
                        </lord-icon>
    
                        <script src="https://cdn.lordicon.com/lordicon.js"></script>
                </article>
    
                <article">
                <article id="openMenuBtn" class="botao_menu_cell ">
                </article>
        
                <article id="blackDiv"></article>
    
                       <script src="../../rolagem_menu_cell.js"></script>
    
                      <section id="menu" class="menu">
                        <!-- <span id="closeMenuBtn" class="closeBtn"><i class="fas fa-times">ooo</i></span> Botão de fechar menu -->
                        <section id="section_links_principais_cell">
                            <article id="article_links_principais_cell_p">
                                <p id="article_links_principais_cell_p1">BAZAR
                                    <img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt="">
                                </p>
    
                                <p id="article_links_principais_cell_p2"><a href="/vender">VENDER</a>
                                    <img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt="">
                                </p>
    
                                <p id="article_links_principais_cell_p3"><a href="/feminino">FEMININO</a>
                                    <img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt="">
                                </p>
    
    
                                <p id="article_links_principais_cell_p4"><a href="/masculino">MASCULINO</a>
    
                                    <img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt="">
                                </p>
    
                                <p id="article_links_principais_cell_p5"><a href="/infantil">INFANTIL</a>
                                    <img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt="">
                                </p>
    
                                <p id="article_links_principais_cell_p6"><a href="/acessorios">ACESSÓRIOS</a>
                                    <img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt="">
                                </p>
                                
                            </article>
    
                            <!--
                            <article id="article_links_principais_cell_img">
                                <img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt=""> 
    
                                <img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt="">
    
                                <img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt="">
    
                                <img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt="">
    
                                <img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt="">
                                
                                <img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt="">
                            </article>
                            -->
                        </section>
    
                        <article id="article_saiba_mais_menu_cell">
                            <p>Participe do nosso marketplace, favorite produtos e os adicione à sacola</p>
                            <button><p>Cadastre-se</p></button>
                        </article>
    
                        <!--parte dos icones cell-->
                        <section id="section_icones_menu_deslizante_cell">
                            <!--numero um-->
                            <article class="article_icones_menu_deslizante_cell">
                                <article>
                                    <lord-icon
                                        src="https://cdn.lordicon.com/kthelypq.json"
                                        trigger="hover"
                                        style="width:4.5vw;height:4.5vw">
                                    </lord-icon>
                                    
                                    <script src="https://cdn.lordicon.com/lordicon.js"></script>
                                </article>
    
                                <article>
                                    <p><a href="/perfil" style="text-decoration: none; color: black; ">Entrar</a></p>
                                </article>
                            </article>
    
                            <!--numero dois-->
                            <article class="article_icones_menu_deslizante_cell">
                                <article>
                                    <lord-icon
                                    src="https://cdn.lordicon.com/evyuuwna.json"
                                    trigger="morph"
                                    state="morph-shopping-bag-open"
                                    style="width:4.5vw;height:4.5vw">
                                    </lord-icon>
                                    
                                    <script src="https://cdn.lordicon.com/lordicon.js"></script>
                                </article>
    
                                <article>
                                    <p>Sacola</p>
                                </article>
                            </article>
    
                            <!--numero tres-->
                            <article class="article_icones_menu_deslizante_cell">
                                <article>
                                    <lord-icon
                                    src="https://cdn.lordicon.com/xyboiuok.json"
                                    trigger="hover"
                                    style="width:4.5vw;height:4.5vw">
                                    </lord-icon>
                                    
                                    <script src="https://cdn.lordicon.com/lordicon.js"></script>
                                </article>
    
                                <article>
                                    <p>Lista de Desejos</p>
                                </article>
                            </article>
    
                            <!--numero quatro-->
                            <article class="article_icones_menu_deslizante_cell">
                                <article>
                                    <lord-icon
                                    src="https://cdn.lordicon.com/lobpqdog.json"
                                    trigger="hover"
                                    style="width:4.5vw;height:4.5vw">
                                    </lord-icon>
                                    
                                    <script src="https://cdn.lordicon.com/lordicon.js"></script>
                                </article>
    
                                <article id="article_contate_nos_menu_cell">
                                    <p><a href="https://discord.gg/erJ958ZT">Contate-nos</a></p>
                                    <figure><img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt=""></figure>
                                </article>
                            </article>
    
                            <hr id="linha_icones_menu_cell">
    
                            <article class="article_icones_menu_deslizante_cell" id="article_total_brasil_cell">
                                <article>
                                    <figure id="figure_brasil_menu_cell"></figure>
                                </article>
    
                                <article id="article_brasil_menu_cell">
                                    <p>Brasil | PT R$</p>
                                    <figure><img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt=""></figure>
                                </article>
                            </article>
                        </section>
    
                      </section>
                      <article id="overlay"></article>
                </article>
            </section>
    
        </section>
        <script src="../../js/menu_transparente.js"></script>
       
    
        <script src="../../menu_responsivo.js"></script>
    
        
    
        <script src="../../rolagem_cell_icones.js"></script>
    


    <section id="boxG">
        <article id="Superior">
                <h3 class="negrito_top" id="r">RESUMO DO PEDIDO       </h3>
                <h3 class="negrito_top" id="P">PREÇO</h3>
                <h3 class="negrito_top" id="t">TOTAL</h3>
        </article>
            <br>
            <hr style="height:0.5px;border-width:0;color:#EAEAEA;background-color:#EAEAEA">
           
        <article id="Mid"> 
            <img class="pay_item" src="IMG/pagamento/blackbag.png" width="95px">
            <h4 class="negrito_top" id="rr">Bolsa Preta Clássica</h4>
            <p id="pp">R$ 20,00</p>
            <p id="tt">R$ 20,00</p>
        </article>

        <section id="section_da_parte_da_sacola">
            <art class="container" id="cart-items">
                <!-- Cart items will be dynamically added here -->
            </art>
        </section>

        
        <script src="/bolsa_preta_classica/javascript/cart.js"></script>
        <script src="/bolsa_preta_classica/javascript/cart2.js"></script>
        <script src="/bolsa_preta_classica/javascript/index.js"></script>


            <br>
            <hr style="height:0.5px;border-width:0;color:#EAEAEA;background-color:#EAEAEA">
        <article>
            <h3 class="negrito_top" id="adress">ENDEREÇO</h3>
                <article id="slots">
                    <input type="text" name="cep" id="cep" size="15" maxlength="9" placeholder="CEP*" class="inputs required" oninput="cepValidate()"> 
                    <br>
                    <input type="number" name="casa" id="casa" size="15" maxlength="9" placeholder="Número da Casa*" class="inputs required" oninput="numValidate()">
                </article>
        </article>
        <br>
        <hr style="height:0.5px;border-width:0;color:#EAEAEA;background-color:#EAEAEA">


        <article id="pix">
            <h3 class="negrito_top" id="paypay">PAGAMENTO</h3>
            <h3 class="negrito_top" id="fafa">FATURA</h3>
        </article>
        <br>
        <hr style="height:0.5px;border-width:0;color:#EAEAEA;background-color:#EAEAEA">


        <section>
            <article id="ppagg">
                <p class="negrito_top" id="forma">Forma de Pagamento</p>
                <img class="pay_" src="IMG/pagamento/pix.png" width="40px">
            </article>
            <Section id="displ">
                <article id="leff">
                    <form id="pixForm">
                        <input type="text" name="nome" id="nome" maxlength="40" placeholder="Nome*" class="inpu required" oninput="nameValidate()">
                        <br>
                        
                        <input type="text" name="cpf" id="cpf" maxlength="40" placeholder="CPF*" class="inpu required" oninput="cpfValidate()">
                            <br>

                            <article class="container">
                                <button type="submit" id="generate-btn">Efetuar compra</button>
                                <article id="qr-code" class="qr-code"></article>
                                <article id="qr-code-text" class="qr-code-text"></article>
                            </article>
                    </form>

                </article>



                <Section>
                        <article id="Uw">
                            <h3 class="negrito_top" id="all">Total</h3>
                            <h3 class="negrito_top" id="custo">R$ 20,00</h3>
                        </article>

                        <article id="UwU">
                            <p id="Dess">Descontos</p>
                            <p>--</p>
                        </article>

                        <article id="Uww">
                            <p id="drete">Frete</p>
                            <p>--</p>
                        </article>
                </Section>
            </Section>

        </section>

        <br>
        <hr style="height:0.5px;border-width:0;color:#EAEAEA;background-color:#EAEAEA">
        <br>

        <section id="finall">
            <p id="a">Termos de uso</p>
            <p id="b">Política de Privacidade</p>
            <p id="c">Ajuda</p>
        </section>


    </section>

         <!--rodapé-->
         <section class="rodape">
            <!--primeira seção-->
            <section>
                <article>
                    <h1 class="rodape_h1 institucional">
                        institucional
                    </h1>
                </article>
                <article>
                    <ul class="lista_do_rodape_parte_1">
                        <li class="rodape_paragrafo institucional">sobre a ZIP</li>
                        <li class="rodape_paragrafo institucional">fornecedores</li>
                        <li class="rodape_paragrafo institucional">termos e condições</li>
                        <li class="rodape_paragrafo institucional">política de privacidade</li>
                        <li class="rodape_paragrafo institucional">configurações de privacidade</li>
                        <li class="rodape_paragrafo institucional">trabalhe conosco</li>
                        <li class="rodape_paragrafo institucional">sustentabilidade</li>
                        <li class="rodape_paragrafo institucional">mapa do site</li>
                        <li class="rodape_paragrafo institucional">investidores</li>
                        <li class="rodape_paragrafo institucional">sala de imprensa</li>
                        <li class="rodape_paragrafo institucional">blog ZIP</li>
                    </ul>
                </article>
            </section>
            <!--segunda seção-->
            <section>
                <!--parte ZIP&VC-->
                <article>
                    <article>
                        <h1 class="rodape_h1 segunda_secao_parte_1_h1">
                            ZIP&VC
                        </h1>
                    </article>
                    <article>
                        <ul class="lista_do_rodape segunda_secao_parte_1_ul">
                            <li class="rodape_paragrafo">participe do programa</li>
                        </ul>
                    </article>
                </article>
    
                <!--parte cartão ZIP-->
                <article>
                    <article>
                        <h1 class="rodape_h1 segunda_secao_parte_2_h1">
                            cartão ZIP
                        </h1>
                    </article>
                    <article>
                        <ul class="lista_do_rodape segunda_secao_parte_2_ul">
                            <li class="rodape_paragrafo">sobre o cartão ZIP</li>
                        </ul>
                    </article>
                </article>
    
                <!--parte ZIP Pay-->
                <article>
                    <article>
                        <h1 class="rodape_h1 segunda_secao_parte_3_h1">
                            ZIP Pay
                        </h1>
                    </article>
                    <article>
                        <ul class="lista_do_rodape segunda_secao_parte_3_ul">
                            <li class="rodape_paragrafo">solicite seu cartão</li>
                        </ul>
                        <ul class="lista_do_rodape segunda_secao_parte_3_ul">
                            <li class="rodape_paragrafo">tire sua dúvida por e-mail</li>
                        </ul>
                    </article>
                </article>
                
                <!--parte cartão presente-->
                <article>
                    <article>
                        <h1 class="rodape_h1 segunda_secao_parte_4_h1">
                            cartão presente
                        </h1>
                    </article>
                    <article>
                        <ul class="lista_do_rodape segunda_secao_parte_4_ul">
                            <li class="rodape_paragrafo">sobre o cartão presente ZIP</li>
                        </ul>
                    </article>
                </article>
                
            </section>
            
            <!--parte 3-->
            <section class="terceira_secao">
                
                <article>
                    <h1 class="rodape_h1 ">
                        serviços
                    </h1>
                </article>
    
                <article>
                    <ul class="lista_do_rodape lista_terceira_secao">
                        <li class="rodape_paragrafo">tipos de entrega</li>
                        <li class="rodape_paragrafo">clique & retire</li>
                        <li class="rodape_paragrafo">trocas & devoluções</li>
                        <li class="rodape_paragrafo">formas de pagamento</li>
                        <li class="rodape_paragrafo">todas as vantagens</li>
                        <li class="rodape_paragrafo">minha ZIP</li>
                    </ul>
                </article>
                
    
                <article class="terceita_secao_bazar">
                    <article>
                        <h1 class="rodape_h1 ">
                            bazar
                        </h1>
                    </article>
    
                    <article>
                        <ul class="lista_do_rodape">
                            <li class="rodape_paragrafo">veja coleção</li>
                        </ul>
                    </article>
    
                </article>
    
            </section>
    
            <!--parte 4-->
            <section class="quarta_secao">
                <article>
                    <h1 class="rodape_h1 ">
                        marketplace ZIP
                    </h1>
                </article>
    
                <article class="lista_quarta_secao">
                    <ul class="lista_do_rodape ">
                        <li class="rodape_paragrafo">venda na ZIP</li>
                        <li class="rodape_paragrafo">marketplace</li>
                    </ul>
                </article>
    
            </section>
    
            <!--icones do instagram e etc-->
            <figure class="icones_do_instagram_e_etc_do_rodape">
                <img src="IMG/rodape/icone_do_instagram_e_etc_2024.png" alt="">
            </figure>
    
            <!--©Copyright2023  -->
            <article class="copyright">
                    <h1 class="h1_do_copyright">
                        © Copyright - 2024 -
                    </h1>
            </article>
        </section>
    
    </body>