<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zip | Perfil de administrador</title>

    <link rel="stylesheet" href="../../css-tabelasAdm/menu-adm.css">
    <link rel="stylesheet" href="../../css-tabelasAdm/menu_retratio-adm.css">
    <link rel="stylesheet" href="../../css-tabelasAdm/parte_superior-adm.css">
    <link rel="stylesheet" href="../../css-tabelasAdm/rodape-adm.css">
    <link rel="stylesheet" href="../../css-tabelasAdm/body.css">

    <link rel="stylesheet" href="../../css-tabelasAdm/cell/body.css" media="screen and (max-width:750px)">
    <link rel="stylesheet" href="../../css-tabelasAdm/cell/menu_principal.css" media="screen and (max-width:750px)">
    <link rel="stylesheet" href="../../css-tabelasAdm/cell/parte_superior-feminino.css" media="screen and (max-width:750px)">
    <link rel="stylesheet" href="../../css-tabelasAdm/cell/rodape_cell.css" media="screen and (max-width:750px)">

    <link rel="stylesheet" href="../../css-tabelasAdm/adm-famosos.css">
    <link rel="stylesheet" href="../../css-tabelasAdm/adm-denuncias.css">
    <link rel="stylesheet" href="../../css-tabelasAdm/index-d.css">

    <link rel="shortcut icon" href="../../IMG/android-icon-192x192.png" type="image/x-icon">
</head>

<body>
    <header>
          <!-- parte superior do desconto na primeira compra -->

    <section id="section_parte_superior">
        <article>
            <article id="parte_superior">
                <p id="parte_superior_texto_1"></p>
            </article>
            <!--parte das setas-->
            <article class="setas_parte_superior">
                <img class="seta_esquerda_parte_superior"
                    src="IMG/parte superior do desconto na primeira compra REFEITO/seta_esquerda.svg" alt="">
                <img class="seta_direita_parte_superior"
                    src="IMG/parte superior do desconto na primeira compra REFEITO/seta_direita.svg" alt="">
            </article>
        </article>
    </section>



    <!--menu principal-->
    <section id="menu_principal_como_todo">
        <!--area do menu que contem os links-->
        <article id="menu_principal">
            <section id="section_menu_principal">
                <section id="parte_dos_links_do_menu">
                    <a href="/bazar" class="links_do_menu1">BAZAR</a>
                    <a href="/vender" class="links_do_menu2">VENDER</a>
                    <section id="section_menu_retratio">
                        <section id="section_do_menu_retratio_2">
                            <!--parte das imagens-->
                            <figure id="figure_imagens_menu_retratio">
                                <figure id="menu_retratio_imagem1">
                                    <img width="230px" src="../../IMG/menu_retratio/imagem_1.png" alt="">
                                    <figcaption class="parte_escrita_figcaption">
                                        Bazar Nick DJ
                                    </figcaption>
                                </figure>


                                <figure id="menu_retratio_imagem2">
                                    <img height="356px" src="/IMG/menu_retratio/imagem2.png" alt="">
                                    <figcaption class="parte_escrita_figcaption">
                                        Moda Passarela
                                    </figcaption>
                                </figure>
                            </figure>
                            <!--parte das listas-->
                            <article id="article_menu_retratio_lista">
                                <ul id="menu_retratio_ul1">
                                    <p id="menu_retratio_ul1_p">Venda na zip</p>
                                    <li class="menu_retratio_lista1">Saiba como vender</li>
                                    <li class="menu_retratio_lista1">Dicas de como vender bem</li>
                                    <li class="menu_retratio_lista1">Mais sobre comisssão</li>
                                </ul>
                                <ul id="menu_retratio_ul2">
                                    <p id="menu_retratio_ul2_p">Bazar</p>
                                    <li class="menu_retratio_lista2">Veja como montar o seu</li>
                                    <li class="menu_retratio_lista2">bazar na zip</li>
                                </ul>
                                <ul id="menu_retratio_ul3">
                                    <p id="menu_retratio_ul3_p">Ajuda</p>
                                    <li class="menu_retratio_lista3">Não recebi minha compra</li>
                                    <li class="menu_retratio_lista3">Tenho dúvidas</li>
                                </ul>
                            </article>
                            <!--parte escrita zip marketplace-->
                            <article id="parte_escrita_menu_retratio">
                                <img width="320px" src="IMG/menu_retratio/parte_escrita_refeito.png" alt="">
                            </article>
                        </section>
                    </section>
                    <a href="/feminino" class="links_do_menu3">FEMININO</a>
                    <a href="/masculino" class="links_do_menu4">MASCULINO</a>
                    <a href="/infantil" class="links_do_menu5">INFANTIL</a>
                    <a href="/acessorios" class="links_do_menu6">ACESSÓRIOS</a>
                </section>
            </section>
        </article>



        <!--logo zip-->
        <a href="/">
            <figure id="logo_zip_menu">
                <img id="logo_zip_menu_imagem" src="" alt="">
            </figure>
        </a>





        <!--imagem da barra de pesquisa e etc-->
        <article id="barra_de_pesquisa_e_etc">
            <figure id="imagem_da_barra_de_pesquisa_e_etc">





                <figure id="imagem_da_barra_de_pesquisa" class="search-container_principal">
                    <article class="search-container_principal">
                        <article class="search-icon_principal" id="searchIcon_principal">
                            <a href="/pesquisa">
                                <lord-icon id="icon1_principal" src="https://cdn.lordicon.com/kkvxgpti.json" trigger="hover"
                                    style="width:21px;height:21px;">
                                </lord-icon>
                            </a>
                        </article>
                    </article>
                </figure>

                <figure id="imagem_do_icone_de_favorito">
                    <a href="/wishlist">
                        <lord-icon id="lordicon" src="https://cdn.lordicon.com/xyboiuok.json" trigger="hover"
                            style="width:25px; height:25px">
                        </lord-icon>
                    </a>


                </figure>

                <a href="/perfil">
                    <figure id="imagem_do_icone_de_pessoa">




                        <lord-icon id="pessoa1" src="https://cdn.lordicon.com/kthelypq.json" trigger="hover"
                            style="width:25px;height:25px">
                        </lord-icon>
                    </figure>
                </a>

                <a href="/cart">
                    <figure id="imagem_do_icone_da_sacola">
                        <lord-icon id="sacola1" src="https://cdn.lordicon.com/evyuuwna.json" trigger="morph"
                            state="morph-shopping-bag-open" style="width:25px;height:25px;">
                        </lord-icon>


                    </figure>
                </a>


            </figure>

            <script src="../../barra_de_pesquisa.js"></script>

            <script src="../../css-masculino/js/rolagem_icone-masculino.js"></script>
        </article>

        <!--barra de pesquisa e etc responsivo-->
        <section id="barra_de_pesquisa_e_etc_responsivo">

            <!--barra de pesquisa-->
            <article class="search-container">
                <article class="search-icon" id="searchIcon">
                    <a href="/pesquisa">
                        <lord-icon id="icon1" src="https://cdn.lordicon.com/kkvxgpti.json" trigger="hover"
                            style="width:20px;height:20px;">
                        </lord-icon>
                    </a>
                </article>
            </article>




            <!--icone sacola-->
            <article id="article_icone_sacola_cell">
            <a href="/cart">
                <lord-icon id="icon3" src="https://cdn.lordicon.com/evyuuwna.json" trigger="morph"
                    state="morph-shopping-bag-open" style="width:22px;height:22px;">
                </lord-icon>
            </a>




                <script src="https://cdn.lordicon.com/lordicon.js"></script>
            </article>

            <article">
                <article id="openMenuBtn" class="botao_menu_cell ">
                </article>

                <article id="blackDiv"></article>

                <script src="../../rolagem_menu_cell.js"></script>

                <section id="menu" class="menu">
                    <!-- <span id="closeMenuBtn" class="closeBtn"><i class="fas fa-times">ooo</i></span> Botão de fechar menu -->
                    <section id="section_links_principais_cell">
                        <article id="article_links_principais_cell_p">
                            <p><a href="/bazar">BAZAR</a></p>

                            <p><a href="/vender">VENDER</a></p>

                            <p><a href="/feminino">FEMININO</a></p>

                            <p><a href="/masculino">MASCULINO</a></p>

                            <p><a href="/infantil">INFANTIL</a></p>

                            <p><a href="/acessorios">ACESSÓRIOS</a></p>

                        </article>

                        <article id="article_links_principais_cell_img">
                            <img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt="">

                            <img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt="">

                            <img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt="">

                            <img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt="">

                            <img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt="">

                            <img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt="">
                        </article>
                    </section>

                    <article id="article_saiba_mais_menu_cell">
                        <p>Acesse seu perfil e participe do nosso marketplace</p>
                        <button>
                            <a href="/perfil" style="color: black; text-decoration: none;">Perfil</a>
                        </button>
                    </article>

                    <!--parte dos icones cell-->
                    <section id="section_icones_menu_deslizante_cell">
                        <!--numero um-->
                        <article class="article_icones_menu_deslizante_cell">
                            <article>
                                <lord-icon src="https://cdn.lordicon.com/kthelypq.json" trigger="hover"
                                    style="width:26px;height:26px">
                                </lord-icon>

                                <script src="https://cdn.lordicon.com/lordicon.js"></script>
                            </article>

                            <article>
                                <p><a id="entrar" href="/perfil">Perfil</a></p>
                            </article>
                        </article>

                        <!--numero dois-->
                        <article class="article_icones_menu_deslizante_cell">
                            <article>
                                <lord-icon src="https://cdn.lordicon.com/evyuuwna.json" trigger="morph"
                                    state="morph-shopping-bag-open" style="width:26px;height:26px">
                                </lord-icon>

                                <script src="https://cdn.lordicon.com/lordicon.js"></script>
                            </article>

                            <article>
                                <p><a href="/cart" style="text-decoration: none; color: black;">Sacola</a></p>
                            </article>
                        </article>

                        <!--numero tres-->
                        <article class="article_icones_menu_deslizante_cell">
                            <article>
                                <lord-icon src="https://cdn.lordicon.com/xyboiuok.json" trigger="hover"
                                    style="width:26px;height:26px">
                                </lord-icon>

                                <script src="https://cdn.lordicon.com/lordicon.js"></script>
                            </article>

                            <article>
                                <p><a href="/wishlist">Wishlist</a></p>
                            </article>
                        </article>

                        <!--numero quatro-->
                        <article class="article_icones_menu_deslizante_cell">
                            <article>
                                <lord-icon src="https://cdn.lordicon.com/lobpqdog.json" trigger="hover"
                                    style="width:26px;height:26px">
                                </lord-icon>

                                <script src="https://cdn.lordicon.com/lordicon.js"></script>
                            </article>

                            <article id="article_contate_nos_menu_cell">
                                <p><a href="https://discord.gg/erJ958ZT">Contate-nos</a></p>
                                <figure><img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt=""></figure>
                            </article>
                        </article>

                        <hr id="linha_icones_menu_cell">

                        <article class="article_icones_menu_deslizante_cell" id="article_total_brasil_cell">
                            <article>
                                <figure id="figure_brasil_menu_cell"></figure>
                            </article>

                            <article id="article_brasil_menu_cell">
                                <p>Brasil | PT R$</p>
                                <figure><img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt=""></figure>
                            </article>
                        </article>
                    </section>

                </section>
                <article id="overlay"></article>
                </article>
        </section>

    </section>



    <script src="../../menu_responsivo.js"></script>

    </header>
    <main>
        <%- include(page) %>
    </main>
    <footer>
        
                <!--rodapé-->
                <section class="rodape">
                    <!--primeira seção-->
                    <section>
                        <article>
                            <h1 class="rodape_h1 institucional">
                                institucional
                            </h1>
                        </article>
                        <article>
                            <ul class="lista_do_rodape_parte_1">
                                <li class="rodape_paragrafo institucional">sobre a ZIP</li>
                                <li class="rodape_paragrafo institucional">fornecedores</li>
                                <li class="rodape_paragrafo institucional">termos e condições</li>
                                <li class="rodape_paragrafo institucional">política de privacidade</li>
                                <li class="rodape_paragrafo institucional">configurações de privacidade</li>
                                <li class="rodape_paragrafo institucional">trabalhe conosco</li>
                                <li class="rodape_paragrafo institucional">sustentabilidade</li>
                                <li class="rodape_paragrafo institucional">mapa do site</li>
                                <li class="rodape_paragrafo institucional">investidores</li>
                                <li class="rodape_paragrafo institucional">sala de imprensa</li>
                                <li class="rodape_paragrafo institucional">blog ZIP</li>
                            </ul>
                        </article>
                    </section>
                    <!--segunda seção-->
                    <section>
                        <!--parte ZIP&VC-->
                        <article>
                            <article>
                                <h1 class="rodape_h1 segunda_secao_parte_1_h1">
                                    ZIP&VC
                                </h1>
                            </article>
                            <article>
                                <ul class="lista_do_rodape segunda_secao_parte_1_ul">
                                    <li class="rodape_paragrafo">participe do programa</li>
                                </ul>
                            </article>
                        </article>
            
                        <!--parte cartão ZIP-->
                        <article>
                            <article>
                                <h1 class="rodape_h1 segunda_secao_parte_2_h1">
                                    cartão ZIP
                                </h1>
                            </article>
                            <article>
                                <ul class="lista_do_rodape segunda_secao_parte_2_ul">
                                    <li class="rodape_paragrafo">sobre o cartão ZIP</li>
                                </ul>
                            </article>
                        </article>
            
                        <!--parte ZIP Pay-->
                        <article>
                            <article>
                                <h1 class="rodape_h1 segunda_secao_parte_3_h1">
                                    ZIP Pay
                                </h1>
                            </article>
                            <article>
                                <ul class="lista_do_rodape segunda_secao_parte_3_ul">
                                    <li class="rodape_paragrafo">solicite seu cartão</li>
                                </ul>
                                <ul class="lista_do_rodape segunda_secao_parte_3_ul">
                                    <li class="rodape_paragrafo">tire sua dúvida por e-mail</li>
                                </ul>
                            </article>
                        </article>
            
                        <!--parte cartão presente-->
                        <article>
                            <article>
                                <h1 class="rodape_h1 segunda_secao_parte_4_h1">
                                    cartão presente
                                </h1>
                            </article>
                            <article>
                                <ul class="lista_do_rodape segunda_secao_parte_4_ul">
                                    <li class="rodape_paragrafo">sobre o cartão presente ZIP</li>
                                </ul>
                            </article>
                        </article>
            
                    </section>
            
                    <!--parte 3-->
                    <section class="terceira_secao">
            
                        <article>
                            <h1 class="rodape_h1 ">
                                serviços
                            </h1>
                        </article>
            
                        <article>
                            <ul class="lista_do_rodape lista_terceira_secao">
                                <li class="rodape_paragrafo">tipos de entrega</li>
                                <li class="rodape_paragrafo">clique & retire</li>
                                <li class="rodape_paragrafo">trocas & devoluções</li>
                                <li class="rodape_paragrafo">formas de pagamento</li>
                                <li class="rodape_paragrafo">todas as vantagens</li>
                                <li class="rodape_paragrafo">minha ZIP</li>
                            </ul>
                        </article>
            
            
                        <article class="terceita_secao_bazar">
                            <article>
                                <h1 class="rodape_h1 ">
                                    bazar
                                </h1>
                            </article>
            
                            <article>
                                <ul class="lista_do_rodape">
                                    <li class="rodape_paragrafo">veja coleção</li>
                                </ul>
                            </article>
            
                        </article>
            
                    </section>
            
                    <!--parte 4-->
                    <section class="quarta_secao">
                        <article>
                            <h1 class="rodape_h1 ">
                                marketplace ZIP
                            </h1>
                        </article>
            
                        <article class="lista_quarta_secao">
                            <ul class="lista_do_rodape ">
                                <li class="rodape_paragrafo">venda na ZIP</li>
                                <li class="rodape_paragrafo">marketplace</li>
                            </ul>
                        </article>
            
                    </section>
            
                    <!--icones do instagram e etc-->
                    <figure class="icones_do_instagram_e_etc_do_rodape">
                        <img src="../IMG/rodape/icone_do_instagram_e_etc_2024.png" alt="">
                    </figure>
            
                    <!--©Copyright2023  -->
                    <article class="copyright">
                        <h1 class="h1_do_copyright">
                            © Copyright - 2024 -
                        </h1>
                    </article>
                </section>
            
            
             
            </section>
            
             
            
                <!--rodapé cell-->
                <section id="rodape_cell">
                    <article class="rodape_cell_conteudo">
                        <article>
                            <figure id="figure1_cell_conteudo">
                                <lord-icon
                                src="https://cdn.lordicon.com/qeemqlwz.json"
                                trigger="hover"
                                colors="primary:#ffffff,secondary:#ffffff"
                                style="width:25px;height:25px">
                            </lord-icon>
                            </figure>
                            <p id="paragrafo1_cell_conteudo">SOBRE NÓS</p>
                        </article>
                    </article>
            
                    <article class="rodape_cell_conteudo">
                        <article>
                            <figure id="figure2_cell_conteudo">
                                <lord-icon
                                src="https://cdn.lordicon.com/kthelypq.json"
                                trigger="hover"
                                colors="primary:#ffffff"
                                style="width:25px;height:25px">
                            </lord-icon>
                            </figure>
                            <p id="paragrafo2_cell_conteudo">ZIP & VOCÊ</p>
                        </article>
                    </article>
            
                    <article class="rodape_cell_conteudo">
                        <article>
                            <figure id="figure3_cell_conteudo">
                                <lord-icon
                                src="https://cdn.lordicon.com/hqymfzvj.json"
                                trigger="hover"
                                colors="primary:#ffffff"
                                style="width:25px;height:25px">
                            </lord-icon>
                            </figure>
                            <p id="paragrafo3_cell_conteudo">MARKETPLACE</p>
                        </article>
                    </article>
            
                    <article class="rodape_cell_conteudo">
                            <p>Copyright - 2024</p>
                    </article>
                </section>
        
    </footer>


    
    

</body>

</html>