#men{
    position: fixed;
    top: -10px;
    z-index: 200;
    margin-left: 81rem;
    width: 38rem;
    height: 45rem;
    font-family: 'Poppins', sans-serif;
    right: -50%; /* Inicialmente oculto */
    box-sizing: border-box;
    transition: right 0.3s ease;
}

#openMenuBt, #twitte, #close{
    cursor: pointer;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Inicialmente transparente */
    z-index: 1; /* Colocar acima do conteúdo */
    display: none; /* Inicialmente oculto */
  }

#th{
    background-color: black;
    align-items: center;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    height: 145px;

}

#ban, #twitte{
    font-size: 22px;
    font-weight: 600;
    color: white;
}

#ban{
    margin-right: 16rem;
}


#mott{
    padding: 40px;
    background-color: rgb(238, 238, 238);
}

#ttom{
    font-size: 19px;
    font-weight: 600;
    padding-top: 40px;
}

#check{
    margin-top: 30px;
}

input[type=checkbox]{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 8px;
    height: 18px;
    width: 18px;
}



#aa, #bb, #cc, #dd{
    font-size: 18px;
}

#denunciarBt{
    width: 33rem;
    height: 60px;
    cursor: pointer;
    background-color: #212121;
    color: rgb(255, 255, 255);
    border-color: #212121;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    margin-top:  80px;
    font-family: 'Poppins', sans-serif;
    
}

#close{
    margin-left: 235px;
    text-decoration: underline;
}
#fech{
    margin-bottom: 300px;
}

form input [type=checkbox] .checked{
    color: #212121;
    background-color: black;
}

#mensage{
    margin-left: 100px;
}

#all {
    overflow: hidden;
    z-index: 100;
}

.background::after {
    content: " ";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.459); /* Inicialmente transparente */
    z-index: 99; /* Colocar acima do conteúdo */
}





