<section class="redefinir-senha-section">
    <section class="redefinir-senha-form">
        <a href="./adm-famosos"><button type="submit" id="fam" class="bolon">Famosos</button></a>
        <a href="./adm-denuncias"><button type="submit" id="den" class="bolon">Denuncias & Banimentos</button></a>
    </section>

  </section>