@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#section_menu_retratio {
width: 100vw;
height: 26.04vw;
position: absolute;
display: none;
left: -8.98;
}

#section_do_menu_retratio_2{
width: 1000vw;
height: 25.42vw;
background-color: rgb(0, 0, 0);
position: absolute;
top: 2.08vw;
left: -8.98%;
display: none;
}

.links_do_menu2:hover + #section_menu_retratio {

    display: block;
}

#section_menu_retratio:hover {
  display: block;
}

#section_do_menu_retratio_2 {
    animation: growDown 400ms ease-in-out forwards;
    transform-origin: top center; 
}

@keyframes growDown {
    0% {
      transform: scaleY(0);
    }
    80% {
      transform: scaleY(1.1);
    }
    100% {
      transform: scaleY(1);
    }
  }

  /*conteudo*/

  /*imsgrnd*/

  #figure_imagens_menu_retratio {
    display: flex;
    column-gap: 1.15vw;
    position: relative;
    left: 2.1%;
    top: 2.66vw;
  }

  #menu_retratio_imagem1 {
    width: 11.98vw;
    height: 18.54vw;
  }

  #menu_retratio_imagem2 {
    width: 11.98vw;
    height: 18.54vw;
  }

  .parte_escrita_figcaption {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 0.625714vw;
    position: relative;
    top: 0.625000vw;
  }

  /*lista 1*/
  #article_menu_retratio_lista{
    display: flex;
    column-gap: 5.16vw;
    position: relative;
    left: 32.4%;
    top: -15.63vw;

    color: white;

  }

  #menu_retratio_ul1{
    list-style-type: none;


  }

  #menu_retratio_ul1_p{
    font-size: 0.73vw;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
  }



.menu_retratio_lista1 {
  position: relative;
  top: 0.989583vw;
  font-family: 'Poppins', sans-serif;
  font-size: 0.625714vw;
}

  /*lista 2*/

  #menu_retratio_ul2{
    list-style-type: none;


  }

  #menu_retratio_ul2_p{
    font-size: 0.73vw;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
  }

  .menu_retratio_lista2 {
    position: relative;
    top: 0.989583vw;
    font-family: 'Poppins', sans-serif;
    font-size: 0.625714vw;
  }

   
  /*lista 3*/

  #menu_retratio_ul3{
    list-style-type: none;


  }

  #menu_retratio_ul3_p{
    font-size: 0,73vw;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
  }

  .menu_retratio_lista3 {
    position: relative;
    top: 0.937500vw;
    font-family: 'Poppins', sans-serif;
    font-size: 0.625714vw;
  }

  /*parte escrita*/
  #parte_escrita_menu_retratio {
    position: relative;
    left: 79.7%;
    top: -20.16vw;
  }