@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


#display-flex {
    display: flex;
    column-gap: 15vw;
}

#produtos-cell {
    position: relative;
    top: 0;
    width: 40vw;
    margin-left: 4vw;
    padding-top: 1.5vw;
    
}

#cart-cart {

}

.button {
    position: relative;
    left: 150px;
}

#cart-itemsfv {
   
    
}

.cart-itemfv {
    display: flex;
    flex-direction: row;
    column-gap: 2vw;
    margin: -1vw 0 3vw 3vw;
    padding: 1vw 1vw 0 1vw;
    border-bottom: 1px solid #d1d4d6;
    border-top: 1px solid #d1d4d6;
    background-color: #ffff;
    width: 40vw;
    height: 16.60vw;
}

#removeProdFav {
    margin: 0.3vw 6vw 0 0;
    display: block;
    border: none;
    background-color: white;
    background-image: url("../../../IMG/wishlist/produtos/x_para_remover_refeito.png");
    background-size: 1.2vw;
    background-position: center center;
    width: 1.2vw;
    height: 1.2vw;
}

#removeProdFav{
position: relative;
left: 6vw;
}

#tituloProdFav {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 11vh;
    width: 180%;
}
#precoProdFav {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    width: 180%;
}
#imgProdFav {
    width: 12vw;
    height: 15.5vw;
}

#produto-cell-linha > hr{
    background-color: black;
    position: relative;
    top: 20vh;
    margin-left: 3.8vw;
    width: 60vw;   

}

#parcelaProd {
    font-size: 1.6rem;
    margin-top: 1vh;
    width: 180%;
}

#produto-detalhes {
    width: 100vw;
}

#lista-wishlits {
    width: 100vw;
    display: flex;
    column-gap: 1vw;
    margin-left: 1vw;
    list-style-type: none;
}

