@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
  }
  
  #pass{
    margin-bottom: 30px;
  }

  .redefinir-senha-section {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 97vh;
  }
  
  .redefinir-senha-form {
    background-color: #EEEEEE;
    padding: 50px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .input-group {
    margin-bottom: 25px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 6px;
    font-size: 16px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .bolon {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    cursor: pointer;
  }
  

  #fam{
    margin-top: 20px;
    height: 75px;
    cursor: pointer;
    background-color: black;
    color: rgb(255, 255, 255);
    border-color: black;

    font-size: 21px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
  }

  #den{
    margin-top: 20px;
    height: 75px;
    cursor: pointer;
    background-color: black;
    color: rgb(255, 255, 255);
    border-color: black;

    font-size: 21px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
  }

  #fam:hover {
    background-color: #252525;
  }

  #den:hover {
    background-color: #252525;
  }
  
  @media (max-width: 480px) {
    .redefinir-senha-form {
      padding: 15px;
    }
  
    button {
      font-size: 14px;
    }
  }
  