@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*section principal*/
#section_slide_cell {
    position: relative;
    top: 20vh;
    z-index: ;
    width: 100%;
    height: auto; 
    display: flex;
    flex-wrap: wrap;
    column-gap: 1vw;
    row-gap: 19vh;
    left: 0.8vw;

    
}
#section_slide_cell > p {
    position: relative;
    top: 6vh;
 

    
}

/*primeiro slide*/
#section_primeiro_slide1_cell {
    width: 100%;
    height: auto; 
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5vh;
    row-gap: 19vh;
}

#section_primeiro_slide1_cell > figure {
    width: ;
    height: 60vh;
}

/*blocos do slide*/

#section_primeiro_slide1_cell {
    text-decoration: none;
    color: unset;
}

/*imagem*/
#section_primeiro_slide1_cell > figure > img {
    width: 23.59vw;
    height: 62.20vh;
}

/*paragrafo*/
#section_primeiro_slide1_cell > figure > figcaption > p:first-child {
    font-family: 'Poppins', sans-serif;
    font-size: 0.938vw;
    font-weight: 500;
    margin-top: 1vh;
    text-indent: 0.9vw;
}

#section_primeiro_slide1_cell > figure > figcaption > p:nth-child(2) {
    font-family: 'Poppins', sans-serif;
    font-size: 0.99vw;
    margin-top: 0.4vh;
    opacity: 60%;
    text-indent: 0.9vw;
}
/*favorito*/
#lordiconfv {
    position: relative;
    top: -71vh;
    left: 21.4vw;
    z-index: ;
    height: 3.8vw;
}

/*blocos do slide produtos*/
.class_produtos_figure {
    width: 23.55vw;
    height: 62.25vh;

}

.class_produtos_figure > a {
    text-decoration: none;
    color: unset;
}

.class_produtos_figure > a > img {
    width: 23.59vw;
    height: 62.2vh;
}

/*paragrafo*/
.class_produtos_figure > a > figcaption > h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 0.938vw;
    font-weight: 500;
    margin-top: 1vh;
    text-indent: 0.9vw;
}

.class_produtos_figure > a > figcaption > p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.99vw;
    margin-top: 0.4vh;
    opacity: 60%;
    text-indent: 0.9vw;
}



/*veja mais*/
#veja-mais-cell {
    position: relative;
    top: 20vh;
    width: 100vw;
    display: none;
    justify-content: center;
}

#veja-mais-cell > button {
    background-color: white;
    width: 77vw;
    height: 6vh;
    font-size: 3.8vw;
    font-weight: 550;
    font-family: 'Poppins', sans-serif;
}

#veja-mais-cell > button:active {
    background-color: rgb(0, 0, 0);
    color: white;
}