

@media screen and (min-width: 362px) and (max-width: 391px)   {
    #section_carrousel {
        position: relative;
        top: -23vh;
    }
}

@media screen and (min-width: 250px) and (max-width: 361px)   {
    #section_carrousel {
        position: relative;
        top: -30vh;
    }
}

@media screen and (min-width: 400px) and (max-width: 413px)   {
    #section_carrousel {
        position: relative;
        top: -20vh;
    }
}

@media screen and (min-height: 799px) and (max-height: 850px) {
    
}



